@font-face {
  font-family: PoppinsBold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsItalic;
  src: url(./assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: PoppinsExtraItalic;
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 86%);
}

.App {
  height: 486px;
  width: 343px;
  background-color: hsl(0, 0%, 100%);
  padding: 52px 24px;
  border-radius: 20px 20px 20% 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 65px;
  position: relative;
}
.img-container hr {
  width: 295px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  width: 65px;
  height: 65px;
  position: absolute;
  right: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.image img {
  height: 25px;
  width: 25px;
}

.image:hover {
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}

#form-container {
  padding-bottom: 30px;
}
#form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#form-container form .input-sec {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 88px;
  gap: 6px;
}
#form-container form .input-sec input {
  width: 88px;
  height: 54px;
  font-size: 22px;
  border-radius: 10px;
  border-color: hsl(0, 0%, 86%);
  padding-left: 15px;
  border-width: 2px;
  font-family: "Poppins";
  font-weight: 700;
}
#form-container form .input-sec input:invalid {
  border-color: hsl(0, 100%, 67%);
}
#form-container form .input-sec input:invalid ~ label {
  color: hsl(0, 100%, 67%);
}
#form-container form .input-sec input:invalid ~ span {
  display: block;
  color: red;
}
#form-container form .input-sec input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
}
#form-container form .input-sec input:hover {
  cursor: pointer;
}
#form-container form .input-sec label {
  color: hsl(0, 1%, 44%);
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 700;
}
#form-container form .input-sec span {
  font-size: 8px;
  bottom: -25px;
  position: absolute;
  display: none;
  order: -1;
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  text-align: left;
}

#age-display {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
}

.age-heading {
  text-align: left;
  font-size: 2.5em;
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  margin: 0;
  line-height: 1.5em;
}

.age-span {
  color: hsl(259, 100%, 65%);
  font-size: 3rem;
}

@media screen and (min-width: 1440px) {
  .App {
    padding: 56px;
    height: 651px;
    width: 841px;
  }
  .App hr {
    width: 100%;
  }
  .App #form-container form {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 32px;
  }
  .App input {
    font-size: 32px !important;
    width: 160px !important;
    height: 72px !important;
    padding-left: 25px !important;
  }
  .App .input-sec {
    width: 160px !important;
  }
  .img-container {
    height: 95px;
  }
  .image {
    margin-top: auto;
    margin-bottom: auto;
    right: 0 !important;
    left: 0 !important;
    margin-right: 0;
    height: 95px;
    width: 95px;
  }
  .image img {
    width: 46px;
    height: 46px;
  }
  #age-display {
    gap: 5px;
  }
  .age-heading {
    font-size: 5em;
    line-height: 1em;
  }
  .age-span {
    font-size: 4.5rem;
    letter-spacing: 15px;
  }
}/*# sourceMappingURL=style.css.map */